<!doctype html>
<html xmlns:th="http://www.thymeleaf.opg"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/view.css}">
    <link rel="stylesheet" th:href="@{/css/type.css}">
    <link rel="stylesheet" th:href="@{/css/join.css}">

    <!-- icon -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <script src="js/vendor/modernizr-3.8.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="@{/js/vendor/jquery-3.4.1.min.js}"><\/script>')</script>
    <script src="@{js/plugins.js}"></script>
    <script src="@{js/main.js}"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <meta name="theme-color" content="#fafafa">
</head>

<body>
<div layout:fragment="header" id="header">
    <div id="topHeader">
        <a th:href="@{/login}" id="loginLink">로그인</a>
        <a th:href="@{/members/join}" id="joinLink">회원가입</a>
        <a th:href="@{/shop/cart}" id="cartLink">장바구니</a>
        <a th:href="@{/shop/orders}" id="myLink">마이페이지</a>
        <a th:href="@{/shop/questions}" id="Q&ALink">Q&A</a>
    </div>
    <div id="middleHeader">
        <a th:href="@{/shop/main}" id="returnMain" role="button" class="btn btn-outline-warning">Atelier</a>
    </div>
    <div id="dropDownMenu">
        <a th:href="@{/shop/type?type={type} (type='의자')}">의자</a>
        <a th:href="@{/shop/type?type={type} (type='책상')}">책상</a>
        <a th:href="@{/shop/type?type={type} (type='침대')}">침대</a>
        <a th:href="@{/shop/type?type={type} (type='소파')}">소파</a>

    </div>
</div>


<div layout:fragment="content"></div>


<div layout:fragment="footer">
    <h4 style="color: gray; opacity: 0.8">Kim si-hwan Shop</h4>
</div>


<th:block layout:fragment="script"></th:block>

<script th:inline=javascript>
</script>
</body>






</html>