<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.ney.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="panel-body">

        <table class="table table-hover">
            <tr>
                <td width="100">문의번호</td>
                <td width="350">문의상품</td>
                <td>문의제목</td>
                <td width="100">문의고객</td>
                <td width="200">문의일자</td>
                <td width="100">답변여부</td>
            </tr>

            <tr th:each="list : ${list.result.content}">
                <td>[[${list.id}]]</td>
                <td><img style="width: 250px;height: 200px; " th:src="@{'/img/' + ${list.product.id}+'.jpg'}"></td>
                <td>[[${list.title}]]</td>
                <td>[[${list.member.userName}]]</td>
                <td>[[${#temporals.format(list.createDate,('yyyy-MM-dd HH:mm'))}]]</td>
                <td>[[${list.whether}]]</td>
            </tr>
        </table>

        <form th:action="@{question}" method="get" style="margin-left: 500px">
            <select name="type" class="form-control" style="width: 100px; text-align: center; display:inline;">
                <option>----</option>
                <option value="t">Title</option>
                <option value="w">Writer</option>
                <option value="c">Content</option>
            </select>

            <input name="keyword" class="form-control" style="width: 440px;display:inline;">
            <button class="btn btn-primary btn-sm" type="submit" style="height: 37px">검색</button>
        </form>

        <ul class="pagination" style="margin-left: 550px; margin-top: 50px">
            <li class="page-item" th:if="${list.prevPage}">
                <a class="page-link" th:href="${list.prevPage.pageNumber}+1">PREV [[${list.prevPage.pageNumber}+1]]</a>
            </li>
            <li class="page-item" th:each="pageList :${list.pageList}">
                <a class="page-link" th:href="${pageList.pageNumber}+1">[[${pageList.pageNumber}+1]]</a>
            </li>
            <li class="page-item" th:if="${list.nextPage}">
                <a class="page-link" th:href="${list.nextPage.pageNumber}+1">NEXT [[${list.nextPage.pageNumber}+1]]</a>
            </li>
        </ul>



        <form id="form" th:action="@{question}" method="get">
            <input type="hidden" name="page" th:value="${vo.page}">
            <input type="hidden" name="size" th:value="${vo.size}">
            <input type="hidden" name="type" th:value="${vo.type}">
            <input type="hidden" name="keyword" th:value="${vo.keyword}">
        </form>
    </div>
</div>


</body>


<th:block layout:fragment="script">
    <script th:inline=javascript>
        $(document).on("ready", function (e) {

            var form = $('#form');
            var f1= $('#f1');
            $(document).on('click', '.pagination a', function (e) {
                e.preventDefault();
                form.find('[name="page"]').val($(this).attr('href'));
                form.submit();
            });



        });

    </script>
</th:block>
</html>