<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.ney.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="panel-body">

        <table class="table table-hover">
            <tr>
                <td>상품번호</td>
                <td>체크박스</td>
                <td>상품사진</td>
                <td>상품이름</td>
                <td>상품가격</td>
                <td>주문수량</td>
                <td>카트관리</td>
            </tr>
            <tr th:each="list : ${cart.products}">
                <td>[[${list.productId}]]</td>
                <td><input type="checkbox"  checked="true" name="products" th:value="${list.productId}" id="checkBox"></td>
                <td>
                    <a th:href="@{/shop/view?productId={id} (id=${list.productId})}">
                    <img style="width: 450px;height: 350px; " th:src="@{'/img/' + ${list.url}}"></a>
                </td>

                <td>[[${list.title}]]</td>
                <td name="price">[[${list.price}]]</td>
                <td>[[${cart.totalCount}]]</td>
                <td><button class="btn btn-sm btn-outline-danger" id="removeOneCartItem">삭제</button></td>

            </tr>
        </table>
        <button class="btn btn-sm btn-outline-danger float-right" id="removeSelectCartItem">선택된 상품 삭제</button><br>
        <button id="orderBtn" class="btn btn-primary" style="width: 100%">주문하기</button>

        <div id="payZone">

        </div>

        <form id="form" th:action="@{/shop/order}" method="post">

        </form>

    </div>
</div>


</body>


<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{'/js/review.js'}"></script>
    <script th:inline=javascript>
        $(document).on("ready", function (e) {

            var counts = new Array();
            var prices = new Array();
            var productIds;
            var pay=0;
            var tempProductIds = new Array();
            var removeProductIds = new Array();
            var form = $('#form');
            productIds=isChecked(pay,tempProductIds);
            $(document).on('click', '#checkBox', function (e) {
                tempProductIds= new Array();
                prices=new Array();
                counts = new Array();
                pay=0;
                productIds=isChecked(pay,tempProductIds);
            });

            function isChecked(pay, tempProductIds)
            {
                var c= document.getElementsByName("products").length;
                for(var i=0; i<c; i++)
                {
                    if(document.getElementsByName("products")[i].checked===true){
                        pay+= parseInt(document.getElementsByName("price")[i].textContent);
                        tempProductIds.push(document.getElementsByName('products')[i].value);
                        prices.push(document.getElementsByName("price")[i].textContent);
                        counts.push(1);
                    }
                }
                productIds=tempProductIds;
                var string="<p style='font-size: 20px'>결제 금액은 <b>"+pay+"</b>원 입니다.</p>"
                $("#payZone").html(string)
                return productIds;
            }

            $(document).on('click', '#orderBtn', function (e) {
                if(productIds.length===0){
                    alert("선택된 상품이 없습니다.");
                    return false;
                }
                form.append("<input type='hidden' name='productIds' value='" + productIds + "'>");
                form.append("<input type='hidden' name='count' value='" + counts + "'>");
                form.append("<input type='hidden' name='price' value='" + prices + "'>");
                form.append("<input type='hidden' name='userName' value='오이'>");
                form.attr('method','get');
                form.submit();
            });

            $(document).on('click','#removeOneCartItem',function (e){
                var id = $(this).parent().prev().prev().prev().prev().prev().prev().text();
                removeProductIds.push(id);
                form.append("<input type='hidden' name='productIds' value='" + removeProductIds + "'>");
                form.append("<input type='hidden' name='_method' value='delete'>");
                form.attr('action','remove_cart');
                form.submit();

            });

            $(document).on('click','#removeSelectCartItem',function (e){
                removeProductIds = productIds;
                form.append("<input type='hidden' name='productIds' value='" + removeProductIds + "'>");
                form.append("<input type='hidden' name='_method' value='delete'>");
                form.attr('action','remove_cart');
                form.submit();
            });
        });

    </script>
</th:block>
</html>