<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.ney.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="panel-body">

        <div id="buyerDiv">
            <p class="pSize20"><b>Buyer Info</b></p>
            <p class="pSize13"> 구매자 정보</p><br>
            <table id="buyerTable" class="table table-borderless" >
                <tr>
                    <td width="100">구매자 : </td>
                    <td>시큐리티로 ㄱㄱ </td>
                </tr>
                <tr>
                    <td>전화번호 : </td>
                    <td>[[${orders.memberInfo.phone}]]</td>
                </tr>
                <tr>
                    <td>이메일 : </td>
                    <td>[[${orders.memberInfo.email}]]</td>
                </tr>
            </table>
        </div>
        <hr>

        <div id="recipientDiv">
            <p class="pSize20"><b>Recipient Info</b></p>
            <p class="pSize13"> 배송지 정보</p><br>
            <table id="recipientTable" class="table table-borderless" >
                <tr>
                    <td width="100">City</td>
                    <td>[[${orders.delivery.city}]]</td>
                </tr>
                <tr>
                    <td>Street</td>
                    <td>[[${orders.delivery.street}]]</td>
                </tr>
                <tr>
                    <td>ZipCode</td>
                    <td>[[${orders.delivery.zipcode}]]</td>
                </tr>
            </table>
        </div>
        <table class="table table-hover">
            <tr>
                <td>주문상품</td>
                <td>상품이름</td>
                <td>주문수량</td>
                <td>주문가격</td>
            </tr>

            <tr th:each="list : ${orders.orderLines}">
                <td>
                    <a th:href="@{/shop/view?productId={id} (id=${list.product.id})}">
                        <img style="width: 450px;height: 350px; " th:src="@{'/img/' + ${list.product.url}}"></a>
                </td>

                <td>[[${list.product.title}]]</td>
                <td>1</td>
                <td>[[${list.product.price}]]</td>

            </tr>
        </table>


    </div>
</div>


</body>


<th:block layout:fragment="script">
    <script th:inline=javascript>
        $(document).on("ready", function (e) {

        });

    </script>
</th:block>
</html>