<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.ney.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="panel-body">
        <div id="typeListDiv">
            <p>총 [[${list.result.totalElements}]]개의 [[${vo.type}]] 상품이 존재합니다.</p>
            <ul style="display: inline-block" th:each="list:${list.result.content}">
                <li style="display: inline-block; margin-top: 100px; padding: 0 15px 0 15px">
                    <div id="typeImgDiv">
                        <a id="typeImgPid" th:href="@{/shop/view?productId={id} (id=${list.id})}"><img
                                style="width: 450px;height: 350px; "
                                th:src="@{'/img/' + ${list.url}}"></a>
                    </div>
                    <div class="productTitle">
                        [[${list.title}]]
                        <br>
                        [[${list.price}]]
                        <br>
                        [[${#lists.size(list.reviews)}]]
                    </div>
                </li>
            </ul>
        </div>


        <form th:action="@{type}" method="get" style="margin-left: 700px">
            <select name="type" class="form-control" style="width: 100px; text-align: center; display:inline;">
                <option th:value="${vo.type}">Title</option>
            </select>

            <input name="keyword" class="form-control" style="width: 440px;display:inline;">
            <button class="btn btn-primary btn-sm" type="submit" style="height: 37px">검색</button>
        </form>

        <ul class="pagination justify-content-center">
            <li class="page-item" th:if="${list.prevPage}">
                <a class="page-link" th:href="${list.prevPage.pageNumber}+1">PREV [[${list.prevPage.pageNumber}+1]]</a>
            </li>
            <li class="page-item" th:each="pageList :${list.pageList}">
                <a class="page-link" th:href="${pageList.pageNumber}+1">[[${pageList.pageNumber}+1]]</a>
            </li>
            <li class="page-item" th:if="${list.nextPage}">
                <a class="page-link" th:href="${list.nextPage.pageNumber}+1">NEXT [[${list.nextPage.pageNumber}+1]]</a>
            </li>
        </ul>


        <form id="form" th:action="@{type}" method="get">
            <input type="hidden" name="page" th:value="${vo.page}">
            <input type="hidden" name="size" th:value="${vo.size}">
            <input type="hidden" name="type" th:value="${vo.type}">
            <input type="hidden" name="keyword" th:value="${vo.keyword}">
        </form>
    </div>
</div>


</body>


<th:block layout:fragment="script">
    <script th:inline=javascript>
        $(document).on("ready", function (e) {

            var form = $('#form');
            $(document).on('click', '.pagination a', function (e) {
                e.preventDefault();
                form.find('[name="page"]').val($(this).attr('href'));
                form.submit();
            });


        });

    </script>
</th:block>
</html>