<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.ney.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="panel-body">

        <div id="viewImgBox">
            <img th:if="${view.quantity}!=0" style="width: 750px;height: 550px; " th:src="@{'/img/' + ${view.url}}">
            <div th:if="${view.quantity}==0">
                <img style="width: 750px;height: 550px; opacity: 0.3" th:src="@{'/img/' + ${view.url}}">
                현재 품절상태.
            </div>
        </div>

        <div id="viewTextBox">
            <hr>
            <p id="viewItemTitle">[[${view.title}]]</p>
            <hr>
            <p id="viewItemPrice"><small>가격 : [[${view.price}]]</small></p>
            <p id="viewItemStock"><small>남은 재고 : [[${view.quantity}]]</small></p>
            <p id="viewItemId"><small>상품 번호 : [[${view.productId}]]</small></p>
            <p><small>배송방법 : 택배발송</small></p>
            <p><small>배송비 : 3000원</small></p>
            <p id="viewItemContent"><small>상품 설명 : [[${view.content}]]</small></p>

            <small>수량 : <input type="number" name="quantity" min="1" max="1" th:max="${view.quantity}"
                               id="selectQuantity"
                               value="1"></small>

        </div>

        <div id="viewBtnBox">
            <button id="orderBtn" class="btn btn-primary btn-sm float-right">구매하기</button>
            <button id="cartBtn" class="btn btn-outline-info btn-sm float-right">장바구니</button>
        </div>

        <form id="form" th:action="@{/}" method="post">

        </form>

        <div id="reviewDiv">
            <i id="reviewIcon" class='far fa-comments'></i><small>[[${view.reviewCount}]]개의 리뷰가 있습니다.</small>
            <div id="reviewBodyDiv">
                <table class="table table-hover">
                    <thead>
                    <th width="100">번호</th>
                    <th width="1100">내용</th>
                    <th>작성자</th>
                    <th width="300">작성일</th>
                    </thead>
                    <tbody id="reviewBody">

                    </tbody>
                </table>

                <textarea class="form-control" rows="5" id="addReviewContent"></textarea>
                <button class="btn btn-primary btn-sm" id="addReviewBtn">작성</button>

            </div>
        </div>

        <div id="questionDiv">
            <small>[[${view.questionCount}]]개의 문의가 있습니다.</small>
            <div id="questionBodyDiv">
                <table class="table table-hover">
                    <tr>
                        <td width="100">번호</td>
                        <td>제목</td>
                        <td width="100">작성자</td>
                        <td width="300">작성일</td>
                        <td width="100">답변여부</td>
                    </tr>
                    <tr th:each="list : ${qList}">
                        <td>[[${list.questionId}]]</td>
                        <td id="qTitle" data-target="#myModal" data-toggle="modal">[[${list.title}]]</td>
                        <input type="hidden" th:value="${list.question}">
                        <input type="hidden" th:value="${list.answer}">

                        <td>[[${list.userName}]]</td>
                        <td>[[${#temporals.format(list.createDate,('yyyy-MM-dd HH:mm'))}]]</td>
                        <td>[[${list.check}]]</td>
                    </tr>

                </table>

            </div>
            <button id="makeQuestion" class="btn btn-primary btn-sm" data-target="#myModal" data-toggle="modal">
                작성하기
            </button>
        </div>

        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <p class="modal-title" id="modalHeader">상품문의</p>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="productImg">
                        [[${view.title}]]
                        <br>

                        <img style="width: 300px;height: 250px; " th:src="@{'/img/' + ${view.url}}">
                    </div>
                    <div class="modal-body" id="questionTitle">
                        Modal Body
                    </div>
                    <div class="modal-body" id="questionContent">
                        Modal body..
                    </div>
                    <div class="modal-body" id="answerContent">
                        Modal body
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" id="submitBtn"
                                data-dismiss="modal">작성
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


</body>


<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{'/js/review.js'}"></script>
    <script th:inline=javascript>
        $(document).on("ready", function (e) {

            reviewManager.getAll([[${view.productId}]], getReviews);
            var obj;
            var productIds = new Array();
            var form = $('#form');
            var productId = [[${view.productId}]];

            function getReviews(data) {
                var str = "";
                console.log(data);
                for (var i = 0; i < data.data.length; i++) {
                    var reviews = data.data[i];

                    str +=
                        "<tr>" +
                        "<td>" + reviews.id + "</td>" +
                        "<td>" + reviews.content + "</td>" +
                        "<td>" + reviews.userName + "</td>" +
                        "<td>" + reviews.createDate + "</td>" +
                        "</tr>";

                }
                console.log("str:" + str);
                $('#reviewBody').html(str);
            }

            $(document).on('click', '#addReviewBtn', function (e) {
                var reviewContent = $('#addReviewContent').val();
                obj = {productId: [[${view.productId}]], content: reviewContent, userName: "오이"};

                console.log(obj);
                reviewManager.add(obj, getReviews);
            });

            $(document).on('click', '#cartBtn', function (e) {

                var selectCount = $('#selectQuantity').val();
                productIds.push(productId);
                form.append("<input type='hidden' name='productIds' value='" + productIds + "'>");
                form.append("<input type='hidden' name='count' value='" + selectCount + "'>");
                form.append("<input type='hidden' name='userName' value='오이'>");
                form.attr('action', 'add_cart');
                form.submit();
            });

            $(document).on('click', '#orderBtn', function (e) {
                productIds.push(productId);
                var counts = new Array();
                var prices = new Array();
                var selectCount = $('#selectQuantity').val();

                counts.push(selectCount);
                prices.push(selectCount * [[${view.price}]]);
                form.append("<input type='hidden' name='productIds' value='" + productIds + "'>");
                form.append("<input type='hidden' name='count' value='" + counts + "'>");
                form.append("<input type='hidden' name='price' value='" + prices + "'>");
                form.append("<input type='hidden' name='userName' value='오이'>");
                form.attr('method', 'get');
                form.attr('action', 'order');
                form.submit();
            });

            $(document).on('click', '#makeQuestion', function (e) {
                $('#productImg').show();
                $('#questionTitle').html("<input type='text' class='form-control' width='300' placeholder='제목입력'>")
                $('#questionContent').html("<textarea class='form-control' rows='10' placeholder='내용입력'></textarea>")
                $('#answerContent').hide();
                $('#submitBtn').show();
            });

            $(document).on('click', '#submitBtn', function (e) {
                var title = $('#questionTitle').children().val();
                var content = $('#questionContent').children().val();
                var pid = [[${view.productId}]];
                form.append("<input type='hidden' name='productId' value='" + pid + "'>");
                form.append("<input type='hidden' name='title' value='" + title + "'>");
                form.append("<input type='hidden' name='question' value='" + content + "'>");
                form.append("<input type='hidden' name='answer' value=''>");
                form.append("<input type='hidden' name='userName' value='오이'>");
                form.attr('action', 'add_questions');
                form.submit();
            });

            $(document).on('click', '#qTitle', function (e) {
                var qTitle = $(this).text();
                var qContent = $(this).next().val();
                var qAnswer = $(this).next().next().val();
                var qUser = $(this).next().next().next().text();
                if (qAnswer.length <= 1)
                    qAnswer = "아직 답변이 존재하지 않습니다.";
                $('#productImg').hide();
                $('#submitBtn').hide();
                $('#questionTitle').html("<p>작성자 : " + qUser + "</p>" +
                    "<input type='text' class='form-control' width='300' value='" + qTitle + "' readonly='readonly'>");
                $('#questionContent').html("<p>질문내용 : </p><textarea class='form-control' rows='10' readonly='readonly'>" + qContent + "</textarea>")
                $('#answerContent').html("<p>답변내용 : </p><textarea class='form-control' rows='10' readonly='readonly'>" + qAnswer + "</textarea>")
                $('#answerContent').show();

            });
        });

    </script>
</th:block>
</html>